.pagination {
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    margin: 1.5rem 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      border: 1px solid #dedede;
      cursor: pointer;
      a {
        display: flex;
        padding: 0.75rem 1rem;
        &:hover {
          color: chocolate;
        }
      }
    }
  }
}

.active {
  background-color: chocolate;
  border-color: chocolate;
  color: white;
  a {
    &:hover {
      color: white !important;
    }
  }
}
